.block.block_lm_myindex {
  width: 100%;
}
.block.block_lm_myindex .content {
  display: block;
  margin: 0;
  margin-top: 2px;
}
.block_lm_myindex .status-indicator {
  text-align: center;
}
.block_lm_myindex .status-profi {
  height: auto;
  margin: 0 auto;
  width: 58px;
  display: block;
}
.block_lm_myindex .status-name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.pagelayout-grid .gridcol1 > .block.block_lm_myindex {
  width: 100%;
}
.myindex-container img {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .pagelayout-grid .gridcol1 > .block.block_lm_myindex {
    width: 48.8%;
  }
}
@media (min-width: 960px) {
  .pagelayout-grid .gridcol1 > .block.block_lm_myindex {
    width: 16%;
  }
}
@media (min-width: 1200px) {
  .pagelayout-grid .gridcol1 > .block.block_lm_myindex {
    width: 16%;
  }
}
@media (min-width: 1430px) {
  .pagelayout-grid .gridcol1 > .block.block_lm_myindex {
    width: 16.1%;
  }
}
@media (min-width: 1701px) {
  .pagelayout-grid .gridcol1 > .block.block_lm_myindex {
    width: 16.2%;
  }
}
@media print {
  .pagelayout-grid .gridcol1 > .block.block_lm_myindex {
    float: left;
    width: 15.6%;
  }
  .my-rating-results {
    margin-top: -32px;
    margin-left: 12px;
  }
}
@media (max-height: 560px) {
  .pagelayout-grid .block_lm_myindex.block .header h2 {
    font-size: 12px;
  }
  .block_lm_myindex .status-name {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-height: 430px) {
  .block_lm_myindex .status-name {
    line-height: 12px;
  }
}
