/** Under constructions styles **/
.under-construction-img {
  padding-left: 10%;
}
.block_lm_experience img {
  width: 150px;
  height: 125px;
}
.block_lm_experience .menubar img {
  width: auto;
  height: 12px;
}
@media (max-height: 560px) {
  .pagelayout-grid .block_lm_experience.block .header h2 {
    font-size: 12px;
  }
  .block_lm_experience .uc-label,
  .block_lm_experience .uc-expiration {
    font-size: 12px;
    line-height: 16px;
  }
  .block_lm_experience .uc-label {
    margin: 2px 0;
  }
  .block_lm_experience .content img {
    width: 70%;
    height: auto;
  }
}
@media (max-height: 430px) {
  .block_lm_experience .uc-label,
  .block_lm_experience .uc-expiration {
    line-height: 12px;
  }
  .block_lm_experience .uc-label {
    margin: 0;
  }
  .block_lm_experience .content img {
    width: 60%;
    height: auto;
  }
}
